.container-crono {
    background-color: brown;
    margin: 0 40%;
    color: white;
    width: 100%;
}

.btn {
    width: 70px;
    height: 60px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn:hover {
background-color: brown;
color: white;
cursor: pointer;
}

span {
    font-size: 50px;
}